<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Todo app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

    <!-- vue.js files -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.5"></script>

    <style type="text/css">
    body{
        font-family: Ubuntu;
        overflow: hidden;
        margin-top: 50px;
        height: 100%;
    }
    button{
        font-size: 5px;
    }
    .modal-content{
        position: absolute;
    }

</style>

</head>

<body>
    <div id="start">
      <div class="container">
        <div class="row">
          <p style="font-weight: bold; font-size: 30px;">Modernized Todo
              <button  type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addItemModal" ><span class="glyphicon glyphicon-plus"></span></button>
          </p>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">My works</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
          <tr v-for="item in items">
            <td>${item.item_name}</td>
            <td>
              <button class="btn btn-default btn-sm" v-on:click="getItem(item.item_id)"><span class="glyphicon glyphicon-pencil"></span></button>
              <button class="btn btn-default btn-sm" v-on:click="deleteItem(item.item_id)"><span class="glyphicon glyphicon-trash"></span></button>
          </td>
      </tr>
  </tbody>
</table>
<!-- Add Item Modal -->
<div class="modal fade" id="addItemModal" role="dialog" >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title">I've got to do this</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
    <form v-on:submit.prevent="addItem()">
        <div class="modal-body">
            <div class="form-group">
              <label for="itemn">Content</label>
              <input
              type="text"
              class="form-control"
              id="itemn"
              placeholder="Type in here"
              v-model="newItem.item_name"
              required="required" >
          </div>
      </div>
      <div class="modal-footer">
          
          <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-save"></span></button>
      </div>
  </form>
</div>
</div>

</div>
<!-- End of add item modal -->
<!-- Edit Item Modal -->
<div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle" style="margin-bottom: 0px;">Edit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form v-on:submit.prevent="updateItem()">
        <div class="modal-body">
            <div class="form-group">
              <label for="itemn">Content</label>
              <input
              type="text"
              class="form-control"
              id="itemn"
              placeholder="Edit in here"
              v-model="currentItem.item_name"
              required="required" >
          </div>
          <div class="modal-footer">
              
                <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-save"></span></button>
          </div>
      </form>
  </div>
</div>

</div>
<!-- End of edit item modal -->

</div>
</div>

</div>
</div>

<script type="text/javascript">
    Vue.http.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
    new Vue({
      el: '#start',
      delimiters: ['${','}'],
      data: {
        items: [],
        currentItem: {},
        newItem: { 'item_name': null },
    },
    mounted: function() {
        this.getItems();
    },
    methods: {
        getItems: function() {
          this.$http.get('/api/item/')
          .then((response) => {
            this.items = response.data;
        })
          .catch((err) => {
            console.log(err);
        })
      },
      getItem: function(id) {
          this.loading = true;
          this.$http.get(`/api/item/${id}/`)
          .then((response) => {
            this.currentItem = response.data;
            $("#editItemModal").modal('show');
        })
          .catch((err) => {
            console.log(err);
        })
      },
      addItem: function() {
          this.$http.post('/api/item/',this.newItem)
          .then((response) => {
            this.getItems();
        })
          .catch((err) => {
            console.log(err);
        })
      },
      updateItem: function() {
          this.$http.put(`/api/item/${this.currentItem.item_id}/`, this.currentItem)
          .then((response) => {
            this.currentItem = response.data;
            this.getItems();
        })
          .catch((err) => {
            console.log(err);
        })
      },
      deleteItem: function(id) {
          this.$http.delete(`/api/item/${id}/`)
          .then((response) => {
            this.getItems();
        })
          .catch((err) => {
            console.log(err);
        })
      }
  }
});
</script>
</body>
</html>